{{define "title"}}about{{end}}
{{define "main"}}
  <link rel="stylesheet" href="/static/css/styles.css">
  <div class='profile'>
    <img 
    src="/static/images/about.jpg"
    alt="Sunrise with palm tree and dune overhead"
    />
  <p>My name is Ahron Pollak. I am a Computer Science Graduate with a Minor in Mathematics.</p>
  </div>
{{end}}
