{{define "title"}}contact{{end}}
{{define "main"}}
  <div class='contact'>
    <p>e-mail</p>
    <p>adpollak[at]outlook.com</p>
    <p>linkedin</p>
    <a href='https://www.linkedin.com/in/ahron-pollak-45a1b9260/'>https://www.linkedin.com/in/ahron-pollak</a>
  </div>
{{end}}
