{{define "title"}}AHRON POLLAK{{end}}
{{define "main"}}
  <link rel="stylesheet" href="/static/css/styles.css">

  <div class="profile">
    <h1><i>AHRON POLLAK</i></h1>
    <img 
    src="/static/images/home.jpg"
    alt="Mountain stream with branches overhead"
    />
    <p>
      <a href="https://24timezones.com/usa_time/va_staunton__city_/staunton.php"><i>TIME IN STAUNTON</a> 
      - 
      <span id="current-time"></span>
      <script src="/static/clock.js"></script>
      <a href="https://24timezones.com/time-zone/edt">EDT</a>
      </i>
    </p>
    <nav>
      <p><i> <a href='/about'>about</a> ;; <a href='/resume'>resume</a> ;; <a href='/contact'>contact</a> </i></p>
    </nav>
  </div>
{{end}}
