{{define "title"}}AHRON POLLAK{{end}}
{{define "main"}}
  <link rel="stylesheet" href="/static/css/styles.css">

  <div class="profile">
  <h1><i>AHRON POLLAK</i></h1>
  <img 
    src="/static/images/PXL_20250821_162045213.jpg"
    alt="Mountain stream with branches overhead"
  />
  <p>
    <a href="https://24timezones.com/usa_time/va_staunton__city_/staunton.php"></link><i>TIME IN STAUNTON</a> 
     - 
    <span id="current-time"></span>
    <script src="/static/clock.js"></script>
    <a href="https://24timezones.com/time-zone/edt">EDT</a>
    </i>
  </p>
  <p> about // resume // contact </p>
  </div>


{{end}}
