.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img {
  max-width: 50vw;
  max-height: 50vh;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}
